body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

header {
    padding: 10px;
    text-align: right;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.icon {
    display: block;
}

.light-mode .dark-mode-icon {
    display: block;
}

.dark-mode .light-mode-icon {
    display: block;
}
